* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

li {
    margin: 5px;
}

/* Estilos gerais */
header, nav, main, footer {
    width: 100%;
    max-width: 80vw;
    margin: 0 auto;
    padding: 10px;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center; /* Alinha os itens ao centro */
    background-color: #333;   /* Cor de fundo do nav */
    color: white;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px; /* Ajusta o espaçamento interno dos links */
    margin: 0 10px;     /* Ajusta o espaçamento entre os links */
}

nav a:hover {
    background-color: #444; /* Cor de fundo ao passar o mouse */
}

nav a:last-child {
    margin-right: 0;
}

/* Estilos para o body e wrapper */
.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 150px;
}

/* Estilos específicos para o footer */
footer {
    flex-shrink: 0;
    padding: 10px;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

form, table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button[type="submit"], button[type="reset"] {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #4CAF50; /* Verde */
}

button[type="reset"] {
    background-color: #f44336; /* Vermelho */
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #ccc;
}

th a {
    color: #000;
    text-decoration: none;
}

td {
    text-align: center;
}

input[type="checkbox"] {
    display: flex;
    margin: 5px 30px;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.alert, .erro, .sucesso {
    padding: 15px;
    position: relative;
    margin-bottom: 15px;
}

.alert {
    background-color: #ffeeba;
    color: #856404;
    border: 1px solid #856404;
}

.alert a {
    text-decoration: none;
    padding: 0 5px;
    color: #856404;
    font-weight: bold;
}

.alert a:hover {
    text-decoration: underline;
}

.alert .close, .erro .close, .sucesso .close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.alert .close:hover {
    color: #000;
}

.erro {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.erro .close:hover {
    color: #fff;
}

.sucesso {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.sucesso .close:hover {
    color: #fff;
}

.login-container {
    width: 450px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.login-container a {
    text-decoration: none;
    color: #42b983;
    font-weight: bold;
    margin: 3%;
    font-size: 14px;
    margin-bottom: 10px;
}

.cadproj-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 14px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.cadproj-btn a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    display: block;
    padding: 15px 32px;
}

.container h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.container p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.container a {
    color: #007bff;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}
